*{
  margin: 0;
  padding: 0;
}
.sidebar{
  position: absolute;
  width: 300px;
  height: 400px;
  background: rgb(223, 213, 213);
  top:50px;
  left: -300px;
  transition: all 1s ease;
}
.sidebar ul li{
  list-style: none;
  color: black;
  font-size: 20px;
  padding: 20px 24px;
  border-radius: 1px solid black;
  border-radius:5px ;
  margin: 5px;
  
}


.sidebar .toggle-btn{
  position: fixed;
  top: 10px;
  left: 100px;

}
.toggle-btn span {
  width: 45px;
  height: 4px;
  background: red;
  display: block;
  margin-top: 4px;
}
.sidebar.active {
  top: 50px;
  left: 0;
  transition: all 1s ease;
}
.bg-gray{
  background-color: gray;
}
.bg-red{
  background-color: red;
}
.bg-orange{
  background-color: orange;
}
.bg-purple{
  background-color: purple;
}
.bg-green{
  background-color: green;
}
.bg-random{
  background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}